<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
          <p>
            <strong>ID</strong>: {{client.id}}</p>
          <p>
          <p>
            <strong>Name:</strong>: {{client.name}}</p>
          <p>
            <strong>Address:</strong> {{client.address}}</p>
           <p>
            <strong>City:</strong> {{client.city}}</p>
          <p>
            <p>
            <strong>State:</strong> {{client.state}}</p>
          <p>
            <p>
            <strong>Postal Code:</strong> {{client.postal_code}}</p>
          <p>
             <p>
            <strong>Skills:</strong> {{client.skills}}</p>
          <p>
             <p>
            <strong>LAT/LNG:</strong> {{client.lat}}</p>
          <p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-8 offset-3">
            <div style="width: 640px; height: 480px" id="mapContainer"></div>
      </div>
  </div>

</div>

 <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>



  <script>
  
  


    function addMarkersToMap(map) {
  var marker1 = new H.map.Marker({lat:45.0567, lng:-93.0508});
  map.addObject(marker1);

  var marker2 = new H.map.Marker({lat:45.09, lng: -93.05});
  map.addObject(marker2);

  var marker3 = new H.map.Marker({lat:45.0166, lng:-93.0833});
  map.addObject(marker3);

  var marker4 = new H.map.Marker({lat:45.04, lng: -93.0833});
  map.addObject(marker4);

  var marker5 = new H.map.Marker({lat:45.0008, lng:-93.0224});
  map.addObject(marker5);
}

    
  var platform = new H.service.Platform({
  app_id: 'gTzFBcdTfpQdW07yxaRz',
  app_code: 'tPrTqfHoFM8mAgjmpdhAvg',
  useCIT: true,
  useHTTPS: true
});
var defaultLayers = platform.createDefaultLayers();

//Step 2: initialize a map - this map is centered over Europe
var map = new H.Map(document.getElementById('mapContainer'),
  defaultLayers.normal.map,{
  center: {lat:45, lng:-93},
  zoom: 11
});

    //Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Create the default UI components
      var ui = H.ui.UI.createDefault(map, defaultLayers);

// Now use the map as required...
      addMarkersToMap(map);
  





  </script>


