<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Name:</strong>: {{example.name}}</p>
          <p>
            <strong>Address:</strong> {{example.address}}</p>
           <p>
            <strong>City:</strong> {{example.city}}</p>
          <p>
            <p>
            <strong>State:</strong> {{example.state}}</p>
          <p>
            <p>
            <strong>Postal Code:</strong> {{example.postal_code}}</p>
          <p>
             <p>
            <strong>Skills:</strong> {{example.skills}}</p>
          <p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
