    <div class = container>
        <form action="" method="POST" role="form">

         <div class="form-row">
            <div class="form-group col-md-12">
            <label for="categories">What problems are you experiencing (category)?</label>
                <script id="some-template" type="text/x-handlebars-template"> 
                <select dropdown multiple class="dropdown" name="color">
                    {{#each category}}
                        <option value="{{value}}" {{isSelected parentColor id}}>{{title}}</option>
                    {{/each}}
                </select>
                </script>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
            <label for="categories">What problems are you experiencing (category)?</label>
                <script id="some-template" type="text/x-handlebars-template"> 
                <select dropdown multiple class="dropdown" name="color">
                    {{#each category}}
                        <option value="{{value}}" {{isSelected parentColor id}}>{{title}}</option>
                    {{/each}}
                </select>
                </script>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-12">
                    <label for="emergency">Is this an emergency?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="emergency" id="emergency">
                        <label class="form-check-label" for="defaultCheck1">Yes</label>
                    </div>

                    <div class="form-check">
                        <input class="non-emergency" type="checkbox" value="non-emergency" id="emergency">
                        <label class="form-check-label" for="defaultCheck1">No</label>
                    </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                        <label for="exampleFormControlSelect1">What is the nature of the work to be done?</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Repairs</option>
                            <option>Installation</option>
                            <option>Assembly</option>
                            <option>Maintenance</option>
                        </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                        <label for="exampleFormControlSelect1">When were you hoping to have the work done?</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Today</option>
                            <option>Tomorrow</option>
                            <option>2-3 days</option>
                            <option>1 week</option>
                        </select>
                </div>
            </div>

        </form>
